﻿@model GuestResponse
<!DOCTYPE html>
<html>
<head>
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>RSVP</h4>
        </div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your name: </label>
                    <input class="form-control" asp-for="Name" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Your email: </label>
                    <input class="form-control" asp-for="Email" />
                </div>

                <div class="form-group">
                    <label asp-for="Phone">Your phone:</label>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <div class="form-group">
                    <label>Will you attend</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Chose an option</option>
                        <option value="true">Yes, I'll be there</option>
                        <option value="false">No, I can't be there</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit">Submit RSVP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
