﻿@model PartyInvites.Models.GuestResponse

<!DOCTYPE html>

<html>
<head>
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <p>
            <h1>Thank you, @Model.Name!</h1>
            @if (Model.WillAttend == true)
            {
                @:It's great that you're coming. The drinks are already in the fridge!
            }
            else
            {
                @:Sorry to hear that you can't make it, but thanks for letting us know.
            }
        </p>
        Click <a class="nav-link" asp-action="ListResponses">here</a> to see who is coming.
    </div>
</body>
</html>